.top-banner-col {
    padding: 0;
}

.top-banner {
    position: relative; 
}

.top-banner-photo {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
/* 
.search-container {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 48%;
} */
/* 
.adv-search-container {
    z-index: 1;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 230px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 12px 36px;
    box-shadow: 1px 0 5px #818181;
    display: none;
    animation-name: advancedSearch;
    animation-duration: 1s;
} */
/* 
.login-container, .signup-container {
    z-index: 100;
    position: absolute; 
    top: 113%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 480px;
    background-color: #ffffff;
    box-shadow: 1px 0 8px #818181;
    border-radius: 12px;
    display: none;
    animation-name: loginCard;
    animation-duration: 1s;
} */
/* 
.signup-container {
    animation-name: does-not-exist;
} */

.directory-main-container {
    display: flex;
    justify-content: center;
}

.directory-main-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 128px;
    width: 89vw;
}

.shop-card {
    padding: 36px 36px 96px 36px;
    color: #353535;
    font-family: 'Syne', sans-serif;
}

.shop-card:hover {
    cursor: pointer;
    box-shadow: 2px 0 10px #818181;
    border-radius: 12px;
    background-color: #ffffff;
}

.shop-photo {
    width: 354px;
    height: 236px;
}

.img-fill {
    object-fit: cover; 
    width: 100%; 
    height: 100%;

}

.shop-info-main {
    font-size: 28px;
    font-weight: bolder;
}

.shop-location {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #818181;
}

.location-icon {
    width: 24px;
    color: #ff00ff;
}

.page-button {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

#prevPage, #nextPage {
    outline: none;
    border: none;
    background-color: #e1e1e1;
    font-family: 'Syne', sans-serif;
    margin: 0 24px;
}

#prevPage:hover {
    color: #ff00ff;
}

#nextPage:hover {
    color: #ff00ff;
}

@media (max-width: 767px) {
    .text-display {
        display: none;
    }
    .text-hidden {
        display: block; 
        font-size: 4.2vw;
    }
    .shop-photo {
        width: 284px;
        height: 236px;
    }
}