.social-media-bar {
    display: flex;
    justify-content: center;
    margin: 48px 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.5;
}

.social-media-container {
    display: flex;
    justify-content: space-evenly;
    width: 24%;
}

.social-media-box {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-box:hover {
    cursor: pointer;
}

.fab {
    color: #e1e1e1;
    font-size: 18px;
}

.footer-section {
    padding: 0;
}

.footer {
    color: #e1e1e1;
    position: relative;
}

.footer-text-box {
    position: absolute;
    bottom: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    font-family: 'Syne', sans-serif;
}

@media (max-width: 767px) {
    .social-media-bar {
        margin: 12px 0;
    }
    .social-media-container {
        width: 48%;
    }
}