body {
    background-color: #e1e1e1;
    font-family: 'Noto Sans JP', 'sans-serif';
    color: #e1e1e1;
}


.top-cover-photo {
    padding: 0;
    position: relative;
}

.top-cover-body { 
    position: relative; 
    width: 100%;
    height: 100%;
}

.photo-cover {
    height: 100%;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.header {
    padding: 36px 128px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text {
    margin: 0;
    color: #ffffff;
    font-size: 1.8vw;
}

.text-hidden {
    display: none;
}

.logo-text:hover {
    cursor: pointer;
}

.main-text-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

.main-text {
    margin: 0;
    color: #ffffff;
    font-size: 4.2vw;
    text-shadow: 1px 1px 8px #3e3e3e;
    font-family: 'Syne', sans-serif;
}

.sub-text {
    color: #ffffff;
    font-size: 1.2vw;
    text-shadow: 1px 1px 5px #3e3e3e;
    margin-top: 12px;
    font-family: 'Syne', sans-serif;
}

h3 {
    margin: 0;
}

.middle-text-bar, .bottom-text-bar {
    margin: 96px 0;
}

.text-container {
    text-align: center;
    color: #353535;
}

.img-fill {
    object-fit: cover;
    width: 354px;
    height: 244px; 
}

.img-fill:hover {
    cursor: pointer;
    opacity: 0.6;
}

.image-container {
    margin-bottom: 128px;
    padding: 0 96px;
}

.image-body {
    width: 100%; 
    position: relative;
}

.img-text-container {
    height: 76%;
    width: 42%;
    padding: 24px;
    position: absolute; 
    top: 12%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #35353550; 
}

.img-text-body {
    font-size: 1.8vw;
    font-family: 'Syne', sans-serif;
}

.img-button {
    margin-top: 12px;
    border: none;
    border-radius: 12px;
    outline: none;
    background: linear-gradient(45deg, #ff00ff, #fc88fc);
    color: #ffffff;
    font-family: 'Syne', sans-serif;
    font-size: 1.2vw;
    width: 36%;
    height: 64px;
}

h6 {
    margin: 0;
}

.small-text {
    margin-top: 24px;
    font-family: 'Syne', sans-serif;;
}

@media (max-width: 767px) {
    .header {
        padding: 12px;
    }
    .logo-text {
        font-size: 4.2vw;
    }
    .location-selector, .product-selector, .type-selector {
        width: 100%;
    }
    .image-container {
        padding: 0;
    }
    .img-button {
        height: 32px;
    }
}