body {
    font-family: 'Rajdhani', sans-serif;
}

.header {
    padding: 18px 0; 
    display: flex;
    justify-content: space-between;
}

.logo-text {
    margin: 0;
}

.logo-text:hover {
    cursor: pointer;
}

.user-login {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #e05b49;
    line-height: 36px;
    text-align: center;
}

.user-login:hover {
    cursor: pointer;
}

.fa-user {
    color: #ffffff;
}

.col-md-4 {
    padding: 0;
}

.main-photo-container {
    position: relative;
}

.search-container {
    position: absolute;
    top: 48%; 
    left: 50%;
    transform: translate(-50%); 
    width: 48%;
}

.search-bar {
    border: none;
    border-radius: 50px;
    outline: none;
    width: 100%; 
    height: 48px;
    padding: 0 18px;
    box-shadow: 1px 0 5px #3e3e3e;
    opacity: 0.7;
}

.search-icon {
    width: 42px;
    height: 42px;
    border-radius: 96px;
    background-color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -2.5%;
    transform: translate(-50%, -50%);
}

.search-icon:hover {
    background-color: #7a7a7a;
    cursor: pointer;
}

.fa-search {
    color: #ffffff;
}

.adv-search-container {
    z-index: 1;
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 230px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 12px 36px;
    box-shadow: 1px 0 5px #818181;
    display: none;
    animation-name: advancedSearch;
    animation-duration: 1s;
}

@keyframes advancedSearch {
    0% {
        transform: translate(-50%, -52%);
    }
    100% {
        transform: translate(-50%, -50%);
    }

}

.location-selector, .product-selector, .type-selector {
    width: 32%;
}

.selector-header {
    text-align: center;
    color: #e05b49;
}

.selector-header h5 {
    font-weight: bolder;
}

.selector-body {
    display: flex;
    flex-direction: column;
}

.main-text-container {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    text-align: center;
}

.main-text {
    margin: 0;
    color: #ffffff;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 5vw;
    text-shadow: 1px 1px 8px #3e3e3e;
}

.photo-box {
    height: 100%;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .hidden-img {
        display: none;
    }
}

.login-container, .signup-container {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 480px;
    background-color: #ffffff;
    box-shadow: 1px 0 8px #818181;
    border-radius: 12px;
    display: none;
    animation-name: loginCard;
    animation-duration: 1s;
}

.signup-container {
    animation-name: does-not-exist;
}

@keyframes loginCard {
    0% {
        transform: translate(-50%, -52%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.login-header, .signup-header {
    padding: 24px 0;
    text-align: center;
}

h3 {
    margin: 0;
}

.login-body, .signup-body {
    padding: 18px 28px; 
}

.login-func, .signup-func {
    width: 100%;
    margin: 12px 0;
    border: none;
    outline: none;
}

.text-login, .text-signup {
    border-bottom: solid 1px #e1e1e1;
}

.login-button, .signup-button {
    height: 48px;
    border-radius: 36px;
    background: linear-gradient(45deg, #e05b49, #e4968c);
    box-shadow: 1px 0 5px #e1e1e1;
    color: #ffffff;
}

.social-login-body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-login-text {
    width: 100%;
}

.social-icon-group {
    display: flex;
    justify-content: space-evenly;
    width: 64%;
    margin: 18px 0;
}

.social-login-icon {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-fb {
    background-color: #3b5988;
}

.social-icon-gl {
    background-color: #4285F4;
}

.login-text, .signup-text {
    text-align: center;
    margin-top: 36px;
}

.sign-up, .login-here:hover {
    cursor: pointer;
}

.middle-text-bar, .bottom-text-bar {
    margin: 96px 0;
}

.text-container {
    text-align: center;
}

.shop-main-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-container {
    padding: 0 48px;
    margin-bottom: 36px;
    width: 450px;
    height: 320px;  
}

.img-fill {
    object-fit: cover;
    width: 354px;
    height: 244px; 
}

.img-fill:hover {
    cursor: pointer;
}

.shop-info {
    text-align: center;
    margin: 12px 0;
}

.shop-info h4 {
    font-weight: bolder;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 128px;
}

.image-body, .img-text-container {
    width: 38vw; 
    min-width: 360px;
}

.img-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 36px 24px; */
    margin: 96px 24px;
    padding-left: 24px;
    background-color: #e8ded1;
}

.img-text-body {
    font-size: 2.4vw;
}

.img-button {
    margin-top: 12px;
    border: none;
    outline: none;
    background-color: #e05b49;
    color: #ffffff;
    width: 36%;
    height: 8vh;
}

.social-media-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.social-media-container {
    display: flex;
    justify-content: space-evenly;
    width: 24%;
}

.social-media-box {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #e05b49;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-box:hover {
    cursor: pointer;
}

.fab {
    color: #ffffff;
    font-size: 18px;
}

.footer-section {
    padding: 0;
}

.footer {
    padding: 36px 0;
    background-color: #3e3e3e;
    color: #ffffff;
}

.footer-text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
}

h6 {
    margin: 0;
}