.container-fluid {
    position: relative; 
}

.container-overlay {
    z-index: 2;
    background: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    display: none;
}

.warning-container {
    background-color: #E7CED6; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; 
    height: auto; 
    padding: 24px;
    z-index: 10;
    font-family: 'Syne', sans-serif;
    color: #353535;
    display: none;
}

.warning-background {
    opacity: 0.3;
}

.warning-main {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.warning-header {
    text-align: center;
    padding: 48px 0;
}

/* .warning-header h3 {
    font-size: 2.1vw;
} */

.warning-body {
    padding: 0 36px 48px 36px;
}

/* .warning-content {
    font-size: 1.2vw;
} */

.warning-button {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.click-button {
    background: #ff00ff;
    color: #ffffff;
    border: none;
    outline: none;
    width: 120px;
    padding: 12px 24px; 
}

.login-container, .signup-container {
    font-family: 'Syne', sans-serif;
    color: #353535;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 480px;
    z-index: 300;
    background-color: #ffffff;
    box-shadow: 1px 0 8px #353535;
    border-radius: 12px;
    display: none;
    animation-name: loginCard;
    animation-duration: 1s;
}

.search-container {
    position: absolute;
    top: 64%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 48%;
}

.shop-main-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.shop-container {
    padding: 0 36px;
    width: 450px;
    height: 320px;  
}

.shop-photo {
    position: relative;
}

.shop-info {
    text-align: center;
    padding: 12px 8px;
    position: absolute;
    bottom: -12%;
    left: 5%;
    background-color: #ff00ff70;
}

.shop-info h4 {
    font-family: 'Syne', sans-serif;
    color: #ffffff;
    margin: 0;
}

@media (max-width: 767px) {
    .warning-container {
        width: 80%;
        height: auto;
    }
    .warning-header {
        padding: 24px 0;
    }
    .warning-body {
        padding-bottom: 0;
    }

    .warning-content {
        font-size: 14px;
    }
    .main-text, .sub-text {
        display: none;
    }
    .search-container {
        width: 72%;
    }
    .login-container, .signup-container { 
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        animation-name: does-not-exist;
    }
    .img-text-container {
        width: 90%;
    }
    .img-text-body {
        font-size: 3.2vw;
    }
    .img-button {
        font-size: 2.8vw;   
    }
    .adv-search-container {
        background-color: #353535;
        z-index: 1000;
    }
    .shop-photo {
        z-index: -1;
    }
}