.user-login {
    width: 36px;
    height: 36px;
    border: 1px solid #ffffff;
    opacity: 0.5;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-login:hover {
    cursor: pointer;
    background-color: #ff00ff;
    border: 1px solid #ff00ff;
    opacity: 1;
}

.user-login:hover .fa-user {
    color: #000102;
}

.fa-user {
    color: #ffffff;
    font-size: 18px;
}

.login-container, .signup-container {
    font-family: 'Syne', sans-serif;
    color: #353535;
    position: absolute; 
    top: 113%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 480px;
    z-index: 300;
    background-color: #ffffff;
    box-shadow: 1px 0 8px #353535;
    border-radius: 12px;
    display: none;
    animation-name: loginCard;
    animation-duration: 1s;
}

.signup-container {
    animation-name: does-not-exist;
}

@keyframes loginCard {
    0% {
        transform: translate(-50%, -52%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.login-header, .signup-header {
    padding: 24px 0;
    text-align: center;
}

.login-body, .signup-body {
    padding: 18px 28px; 
}

.login-func, .signup-func {
    width: 100%;
    margin: 12px 0;
    border: none;
    outline: none;
}

.text-login, .text-signup {
    border-bottom: solid 1px #e1e1e1;
}

.login-button, .signup-button {
    height: 48px;
    border-radius: 36px;
    background: linear-gradient(-45deg, #ff00ff, #fc88fc);
    box-shadow: 1px 0 5px #e1e1e1;
    color: #ffffff;
}

.social-login-body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-login-text {
    width: 100%;
}

.social-icon-group {
    display: flex;
    justify-content: space-evenly;
    width: 64%;
    margin: 18px 0;
}

.social-login-icon {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login-icon .fab {
    color: #ffffff;
}

.social-icon-fb {
    background-color: #3b5988;
}

.social-icon-gl {
    background-color: #4285F4;
}

.social-icon {
    color: #e1e1e1;
}

.login-text, .signup-text {
    text-align: center;
    margin-top: 36px;
}

.sign-up, .login-here:hover {
    cursor: pointer;
}