.welcome-container{
    padding: 20px;
    font-size: 40;
    font-weight:bold;
}

.review-count-container {
    margin-left:30px;
    margin-top:30px;
    text-align: left;
    font-size: 20px;
}

.review-main-container {
    justify-content:center;
    color:black;
    font-family: 'Syne', sans-serif;
}

.member-info{
    padding:20px;
    justify-content: center;
    color:black;
    font-family: 'Syne', sans-serif;
}

.btn-primary {
    background-color: #ff00ff;
    border: none;
    outline: none;
}

.btn-primary:hover {
    background-color: #fc88fc;
}

.info-image img {
    width:250px;
    max-width:20vw;
    height:auto;
    margin-top:15px;
    margin-bottom:15px;
}


.review-container{
    display:flex;
    border:solid 3px #ff00ff;
    margin:30px;
    width:50vw;
    height:fit-content;
    position:relative;
    border-radius:20px;
    padding:20px;
}

.shop-sub-container,.review-sub-container{
    position:relative;
    padding:10px;
    margin:0;
    font-size: 20px;
}

.shop-sub-container{
    width:15vw;
}
.review-sub-container{
    width:inherit
}

.review-image{
    max-width:500px;
    max-height:300px;
}
.review-image img {
    aspect-ratio:initial;
    max-height:inherit;
    max-width:100%;
}

.date-bar{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content:flex-end;
}


.delete-button, .edit-button{
    color: white;
    background-color:#ff00ff;
    border:solid 3px white;
    width:40px;
    height:40px;
    border-radius:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    position:absolute;

}

.delete-button{
    bottom:-20px;
    right:-20px;
}
.edit-button{
    bottom:-20px;
    right:50px;
}
.delete-button:hover, .edit-button:hover{
    cursor: pointer;
    color: #ff00ff;
    background-color: white;
    border:solid 3px #ff00ff;

}

a {
    color:#ff00ff;
    font-weight: bolder;
}

@media (max-width: 767px) {
    .header {
        padding: 12px;
    }
    .text-display {
        display: none;
    }
    .text-hidden {
        display: block; 
        font-size: 4.2vw;
    }
    .search-container {
        width: 72%;
    }
    .login-container, .signup-container { 
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        animation-name: does-not-exist;
    }
    .img-text-container {
        width: 90%;
    }
    .img-text-body {
        font-size: 3.2vw;
    }
    .img-button {
        font-size: 2.8vw;   
    }
    
    .member-info{
        text-align: center;
    }

    .info-image img {
        width:50%;
        max-width: none;
    }

    .review-count-container{
        margin:15px;
        text-align: center;
    }
    .review-container{
        width:80vw;
        display:block;
        padding:10px;
    }

    .shop-sub-container{
        width:100%;
        font-size:medium;
        text-align: left;
    }

    .review-sub-container{
        width:100%;
        font-size:medium;
    }
    .date-bar{
        margin-top: 5px;
        font-size:small;
    }
}