.top-banner-col {
    padding: 0;
}

.middle-text-bar {
    margin:5vh;
}

.top-banner {
    position: relative; 
}

.top-banner-photo {
    width: 100%;
    height: 270px;
    object-fit: cover;
}


.quiz-picture-container {
    display:flex;
    justify-content: center;

}


.quiz-picture img {
    height:50vh;
    max-width: 800px;
    width:70vw
}

.question-container {
    display:none;
    padding: 0 48px;
    height:100vh;
    /* margin:30px;
    margin-top:150px;
    margin-bottom:100px; */
    /* animation-name:dropdown-animation;
    animation-duration:1s */
}


.question {
    text-align: center;
    padding:30px;
    color: black
}

.answer-container {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.answer {
    width:200px;
    min-width:fit-content;
    word-wrap: normal;
    margin:10px;
    padding:15px;
    border-radius: 10px;
    border:3px solid #8b8b8b;
    text-align: center;
    font-size:20px;
    color: black    
}

.answer:hover{
    border:3px solid #ff00ff;
    background-color: #ff00ff;
    cursor: pointer;
    color:#ffffff
}

.result-container {
    display:none;
    padding: 0 48px;
    /* animation-name:dropdown-animation;
    animation-duration:1s */
}

.result {
    text-align: center;
    padding:5vh;
    color: black    
}


.selected {
    border:3px solid #ff00ff;
    background-color: #ff00ff;
    cursor: pointer;
    color:#ffffff
}

.recommendation-main-container {
    display: none;
    justify-content: center;
    /* animation-name:dropdown-animation-opacity;
    animation-duration:1s */
}


.recommendation-main-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 128px;
    width: 89vw;
    min-height:80vh;
}
.recommendation-card {
    padding: 36px 36px 96px 36px;
}

.recommendation-photo {
    width: 354px;
    height: 354px;
    position: relative;
}
.photo-border {
    width: inherit;
    height: inherit;
    border: solid 1px #ffffff;
    border-radius: 200px;
    padding: 52px;
    background-color: #ffffff;
}
.recommendation-body {
    color:#ffffff;
    font-size: 24px;
    text-align: center;
    width: auto;
    position: absolute; 
    bottom: 3%;
    left: -1%;
    background-color: #ff00ff;
    padding: 12px 24px;
    opacity: 0.5;
}
.img-fill {
    object-fit:contain; 
    width: 100%; 
    height: 100%;
}

.recommendation-info-main {
    font-size: 24px;
    font-weight: bolder;
}

@media (max-width: 767px) {
    .text-display {
        display: none;
    }
    .text-hidden {
        display: block; 
        font-size: 4.2vw;
    }
}

/* @keyframes dropdown-animation {
    0% {
        margin-top: 0px;
    }
    .quiz-picture img {
        width:100%;
        height:auto;
        max-width:none
    }
    .question-container {
        padding:0
    }
    .question {
        padding:5vh
    }
    .result-container {
        padding: 0;
        margin:2vw;
        margin-bottom:5vh;
    }
    .result {
        padding-top:5vh;
    }
    .recommendation-card {
        padding:36px
    }
}