.search-container {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 48%;
}

.search-bar {
    border: none;
    border-radius: 50px;
    outline: none;
    width: 100%; 
    height: 48px;
    padding: 0 18px;
    box-shadow: 1px 0 5px #3e3e3e;
    opacity: 0.7;
    font-size: 14px;
}

.search-icon {
    width: 42px;
    height: 42px;
    border-radius: 96px;
    background: linear-gradient(45deg, #818181, #919191);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translate(-50%, -50%);
}

.search-icon:hover {
    cursor: pointer;
}

.fa-search {
    color: #ffffff;
}

.adv-search-container {
    z-index: 1; 
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto; 
    background-color: #35353590;
    border-radius: 25px;
    padding: 12px 36px;
    display: none;
    animation-name: advancedSearch;
    animation-duration: 1s;
    font-family: 'Syne', sans-serif;
}

.location-selector, .product-selector {
    width: 32%;
}

.selector-header {
    text-align: center;
    color: #ff00ff;
}

.selector-header h5 {
    font-weight: bolder;
    font-size: 18px;
}

.selector-body {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .search-container {
        width: 72%;
    }
    .location-selector, .product-selector {
        width: 100%;
    }
    .adv-search-container {
        background-color: #353535;
        z-index: 1000;
    }
}