.shop-pg-container {
    margin: 128px 72px;
    color: #353535;
    display: flex;
    justify-content: center;
    font-family: 'Syne', sans-serif;
}

.shop-pg-main-container, .shop-pg-review-container {
    width: 50%;
    margin: 0 12px;
}

.shop-pg-photo-container {
    width: 100%;
    position: relative; 
}

.shop-pg-name {
    position: absolute;
    left: 2%;
    bottom: -2%;
    background-color: #ff00ff70;
    color: #e1e1e1;
    font-size: 2.8vw;
    padding: 6px 18px;
}

.shop-pg-info-container {
    background-color: #000000;
    color: #e1e1e1;
    padding: 24px 24px;
}

.shop-pg-info-body {
    background-color: #35353550;
    padding: 36px 12px;
}

.shop-pg-info-body div {
    margin-bottom: 12px;
}

.shop-pg-address, .shop-pg-phone, .shop-pg-website {
    display: flex;
    /* align-items: center; */
}

.shop-pg-icon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-pg-subheader {
    color: #ff00ff;
}

.shop-pg-website {
    margin-top: 48px;
}

a {
    color: inherit;
}
a:visited {
    color: inherit;
}
.shop-pg-map-container {
    width: 100%;
    background-color: #e8ded1;
}

#map {
    height: 360px;
    width: 100%;
}

.btn-primary {
    background-color: #ff00ff;
    border: none;
    outline: none;
}

.btn-primary:hover {
    background-color: #fc88fc;
}

.review-container{
    display:flex;
    border:solid 3px #ff00ff;
    width:100%;
    height:fit-content;
    position:relative;
    border-radius:20px;
    padding:5px;
    margin-top:20px;
    margin-bottom:20px;
}

.member-sub-container{
    width:25%;
    margin-right:10px;
}

.review-sub-container{
    width:75%;
    margin-left:10px;
}

#review-form{
    display:none;
    border:solid 1px #000000;
}

textarea {
    width:100%;
    height: 30vw;
}

.text-review{
    width:100%;
    height:fit-content
}
.member-name{
    font-weight: bolder;
    color: #ff00ff;
}

.profile-image img {
    width:75%;
    max-width:20vw;
    height:auto;
    margin-top:15px;
    margin-bottom:15px;
}

.review-image {
    max-height:30vh;
}

.review-image img {
    aspect-ratio:initial;
    max-height:inherit;
    max-width:100%;
}

@media (min-width: 1500px){
    textarea {
        width:100%;
        height: 300px;
    }
}

@media (max-width: 767px) {
    .shop-pg-container {
        flex-wrap: wrap;
        margin: 12px;
    }

    .shop-pg-main-container, .shop-pg-review-container {
        width: 100%;
    }
    .text-display {
        display: none;
    }
    .text-hidden {
        display: block; 
        font-size: 4.2vw;
    }
}