.col-12 {
    padding: 0;
    font-family: 'Syne', sans-serif;
}

.shop-pg-container {
    margin: 128px 72px;
    color: #353535;
    display: flex;
    justify-content: center;
}

.shop-pg-main-container, .shop-pg-review-container {
    width: 50%;
    margin: 0 12px;
}

.shop-pg-review-container {
    border: 1px solid #353535;
}

.shop-pg-photo-container {
    width: 100%;
    position: relative; 
}

.shop-pg-name {
    position: absolute;
    left: 2%;
    bottom: -2%;
    background-color: #ff00ff70;
    color: #e1e1e1;
    font-size: 2.4vw;
    padding: 6px 18px;
}

.shop-pg-info-container {
    background-color: #000000;
    color: #e1e1e1;
    padding: 24px 24px;
}

.shop-pg-info-body {
    background-color: #35353550;
    padding: 36px 12px;
}

.shop-pg-info-body div {
    margin-bottom: 12px;
}

.shop-pg-address, .shop-pg-phone, .shop-pg-website {
    display: flex;
    /* align-items: center; */
}

.shop-pg-icon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-pg-subheader {
    color: #ff00ff;
}

.shop-pg-website {
    margin-top: 48px;
}

a {
    color: inherit;
}
a:visited {
    color: inherit;
}